@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url(../CSS/palette.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Panton';
  src: url(../fonts/Panton.ttf);
}

.flex {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  padding: 15px 40px;
  font-family: 'Panton', sans-serif;
  background-color: var(--secondary-bc);
}

.nav-logo {
  margin-right: 3em;
}

.nav-logo img {
  width: 70px;
  height: 70px;
}

.nav-logo h1 {
  color: var(--secondary-tc);
  margin: 10px;
  font-size: 30px;
  text-transform: uppercase;
}

.nav-logo h1::after {
  content: '';
  width: 70%;
  height: 2px;
  background-color: #acacac;
  display: block;
  margin: auto;
}

.nav-list {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-list a {
  font-size: 24px;
  text-transform: uppercase;
  margin: 15px;
  color: var(--secondary-tc);
  text-decoration: none;
}

.nav-btn {
  padding: 8px 20px;
  color: var(--secondary-tc);
  margin: 10px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  text-shadow: 0px 1.5px 0px rgb(0 0 0 / 25%);
  border: 2px solid white;
}

.nav-btn span {
  color: var(--primary-button-tc);
  margin-left: 5px;
}

.btn-login {
  background-color: var(--primary-button-bc);
}

.btn-cart {
  background-color: var(--alert-button-bc);
}

.nav-btn img {
  width: 30px;
  height: 30px;
}