:root {
    --secondary-bc: #0f0f0f;
    --secondary-tc: #ecedee;

    --primary-button-bc: #3b96be;
    --primary-button-tc: #f9f9f9;

    --alert-button-bc: #01af18;
    --alert-button-tc: #f5f5f5f5;
}