@keyframes fadeIn {
	0% { opacity: 0; }
	30% { opacity: 1; }
	100% { opacity: 1; }
}

@media screen and (min-width: 320px) {
	@keyframes slideDown {
		0% { height: 0; opacity: 0; }
		50% { opacity: 0.5; }
		100% { height: 430px; opacity: 1; }
	}
}

@media screen and (min-width: 425px) {
	@keyframes slideDown {
		0% { height: 0; opacity: 0; }
		50% { opacity: 0.5; }
		100% { height: 430px; opacity: 1; }
	}
}