:root {
	--primary-bc: #f0f2f2;
	--primary-tc: #0E1B4D;
	--secondary-bc: #04020e;
	--secondary-tc: #ecedee;

	--tertiary-bc: #3b96be;
	--tertiary-tc: #ffffff;

	--primary-button-bc: #057bad;
	--primary-button-tc: #ffffff;

	--sucess-button-bc: #06a01a;
	--sucess-button-tc: #ffffff;

	--alert-button-bc: #e20c3b;
	--alert-button-tc: #ffffff;
}