@import url(../Components/Palette.css);

* {
    overflow: hidden;
}

.errors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url(../../Images/steve-background.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.errors h1 {
    margin: 0;
    font-family: 'Panton';
    font-size: 200px;
    color: var(--secondary-tc);
    text-shadow: 0px 5px 20px black;
}

.errors span {
    margin: -40px 0px 30px 0px;
    color: var(--secondary-tc);
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 0px 5px 20px black;
}

@media screen and (min-width: 300px) and (max-width: 999px) {

    * {
        overflow: scroll;
    }
    .errors h1 {
        font-size: 150px;
    }

    .errors span {
        margin: -10px 0px 30px 0px;
        font-size: 24px;
    }
}